@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
}

miso-start-screen {
  background-image: linear-gradient(0deg, #baf1fa 0%, #79e4f5 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}

body {
  font-family: "Gothic A1", sans-serif;
}

body:before {
  display: block;
  content: '';
  border: 10px solid;
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border-radius: 9999px;
  border-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.3);
  animation: spin 3s linear infinite, fadeIn 1s;
}

body:after {
  display: block;
  content: 'Trying to load Miso';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  animation: fadeIn 1s;
}

.glCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.stats {
  left: auto !important;
  right: 0 !important;
}

miso-ui {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  z-index: 1;
}

miso-start-screen {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}

miso-start-screen:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url(../svg/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stats,
miso-start-screen:before,
miso-start-screen > *,
.ui-fade-in {
  animation: fadeIn 1s forwards;
}

.ui-fade-out {
  animation: fadeOut 1s forwards;
}

.ui-box {
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Gothic A1", sans-serif;
}

.ui-top,
.ui-bottom,
.ui-left,
.ui-right,
.ui-center {
  position: absolute;
  z-index: 1;
}

.ui-top { top: 20px; }
.ui-bottom { bottom: 20px; }
.ui-left { left: 20px; }
.ui-right { right: 20px; }
.ui-center { top: 50%; left: 50%; transform: translate(-50%, -50%); }

.ui-rows {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"] {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  outline: none;
}

button {
  cursor: pointer;
  border-radius: 9999px;
  border: none;

  align-self: center;
  padding: 5px 20px;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;

  background: #fff;
  color: #343a4a;

  outline: none !important;
}

/*********************
  Dump from JS files
*********************/

miso-start-screen input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

miso-start-screen fieldset {
  border: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

[hidden] {
  display: none !important;
}